.communities-dashboard-container{
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.communities-dashboard-content {
    width: 100%;
    padding: 80px 10px;
    box-sizing: border-box;
}

.communities-dashboard-item {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid #0ab48a;
    margin-bottom: 10px;
    background-color: #3e3f3f;
    border-radius: 5px;
    font-size: 0.7rem;
}

.communities-dashboard-item-id{
    text-align: center;
}

.dashboard-item-fact {
    word-wrap: break-word;
    overflow: hidden;
}
.dashboard-item-photo-container{
    display: flex;
    justify-content: center;

}

/* Imagen dentro del contenedor */
.dashboard-item-photo-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

/* Responsividad para pantallas más pequeñas */