.admin-user-info-container{
    padding: 100px 0 0 0;
    color: #fff;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.admin-user-info-content{
    max-width: 500px;
    min-width: 300px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    border: #0ab48a 2px solid;
    box-shadow: rgba(0,0,0,.5) 0px 0px 10px 0px;
}
.admin-user-info-username{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
.admin-user-info-photo{
    margin-top: 30px;
    width: auto;
    display: flex;
    justify-content: center;
}

.admin-user-info{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
}
.admin-user-info-photo img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}
.admin-user-info li{
    display: flex;
    width: 100%;
    align-items: center;
    color: #0ab48a;
}
.admin-user-info-fact{
    font-size: 0.8rem;
    margin-left: 10px;
    color: #fff;
}

.admin-user-info-roles-select{
    height: 2rem;
    width: 7rem;
    border: #0ab48a solid 2px;
    border-radius: 5px;
    color: #fff;
    background-color: #0ab48a;
}

.admin-user-info-actions-container{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
.change-role-title{
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 0.9rem;

}
.admin-user-info-roles-select option{
    background-color: #3e3f3f;
    color: #8a8888;
  }

  .change-status-button{
    background-color: #f56060;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .change-role-button{
    font-weight: bold;
    background-color: #0ab48a;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
