
body {
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
  font-family: Arial, sans-serif;
  
}

input{
  font-size: 16px !important;
}

button:hover{
  opacity: 0.8;
}

.main-container{
  box-sizing: border-box;
  padding-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.posts-container{
  width: auto;
}
App{
  margin: 0;
}
@media (max-width: 1100px) {
  .main-container{
    justify-content: left;
    padding-left: 13.5rem;
    padding-right: 0;
  }
}
@media (max-width: 800px) {
  .main-container{
  justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
}

input:-webkit-autofill {
  background-color: transparent !important; /* Fondo transparente o tu preferencia */
  -webkit-box-shadow: 0 0 0 1000px #363636 inset !important; /* Cambia el color del fondo */
  -webkit-text-fill-color: #ffffff !important; /* Cambia el color del texto */
}

/* Para Firefox y otros navegadores */
input:autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 1000px #363636 inset !important;
  color: #fff !important;
}

input {
  background-color: #363636;
  border:#0ab48a solid 2px;
  border-radius: 7px;
  color: #ffffff;
  padding: 7px;
  font-size: 15px !important;
}

input:focus{
  border:#0ab48a solid 2px;
}
input:focus::-webkit-progress-bar {
  background-color: #4caf50; /* Color de la barra de progreso */
}
